.container {
  max-width: $m-container-width;
  margin: auto;
}

.top-nav {
  background: #2B3E50;
  display: flex;
  justify-content: center;

  &__text {
    width: 75%;
    color: #ECF0F1;
    font-family: $c-brand-font-special;

    &--actual {

    }
  }
}


.title {
  font-family: $c-brand-font-special;
  margin: 0;
  border-bottom: $b-brand-border;
}

.content {
  display: flex;
  justify-content: center;
  padding: 1.5rem;

  &__sidebar {
    width: 25%;

    &--character {

    }

    &--photo {

    }

    &--title {

    }

    &--years {
      font-size: 14px;
    }

    &--creators {

      &__list {
        font-size: 12px;

        &--item {

        }
      }
    }
  }

  &__main {
    padding: 0rem 1.5rem;
    width: 60%;

    &--grid {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      &__item {

        &--name {
          font-size: 12px;
        }
      }
    }
  }
}
